* {
  margin: 0px;
  box-sizing: border-box;
  touch-action: pan-y;
  /* outline: 1px solid red !important; */
}

/* Root */
:root {
  --color-1: #faf3f3;
  --color-2: #e1e5ea;
  --color-3: #a7bbc7;
  --color-4: #da7f8f;
  --color-5: #8d404e;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  color: var(--color-5);
  background-color: var(--color-1);
}

/* Front page */
/* ..... */
.main-container-1 {
  display: flex;
  width: 100vw;
  height: 98vh;
  background-color: var(--color-1);
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container1-1 {
  width: 100%;
  height: 60%;
  background-image: url("./images/front-page-image.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.container1-2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.container1-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container1-3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}
.container1-3-1-1 {
  width: 20px;
  height: 20px;
}
.container1-3-2 {
  text-align: center;
  font-size: 0.8rem;
}

/* Latest collections page */
/* ........ */
.main-container-2 {
  display: none;
  width: 100vw;
  height: auto;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

/* Nav */

.container2-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  align-items: center;
}

.container2-1-1 {
  background-image: url("./images/user-img.png");
  background-size: 70%;
  background-color: var(--color-1);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 5%;
}

.container2-1-2 {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 5%;
}
.container2-1-2-1 {
  background-image: url("./images/category-icon.webp");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.container2-1-2-2 {
  background-image: url("./images/shopping-cart.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

/* Text */

.container2-2 {
  font-size: 2rem;
  font-weight: 900;
  padding-left: 10px;
}

/* Search bar */
.container2-3 {
  height: 10vh;
  width: 85%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--color-1);
}
.container2-3-1 {
  background-image: url("./images/search.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

#search {
  height: 80%;
  width: 85%;
  border: none;
  background-color: var(--color-1);
}

/* Bottom scrollable container */

.container2-4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
}
.container2-4-1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}
.container2-4-2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.top-right-cont {
  margin-top: 15% !important;
}

.container-tile {
  width: 90%;
  height: 40vh;
  margin: 5%;
  background-color: var(--color-1);
  border-radius: 5px;
}
.container2-4-1-1-1 {
  background-image: url("./images/image-model-dress.jpeg");
}
.container2-4-1-2-1 {
  background-image: url("./images/model-dress-image-3.jpg");
}
.container2-4-1-3-1 {
  background-image: url("./images/image-model-dress-5.jpeg");
}
.container2-4-2-1-1 {
  background-image: url("./images/image-model-dress-2.jpeg");
}
.container2-4-2-2-1 {
  background-image: url("./images/image-model-dress-4.jpeg");
}
.container2-4-2-3-1 {
  background-image: url("./images/image-model-dress-6.jpg");
}

.wishlist {
  width: 20px;
  height: 20px;
  background-image: url("./images/wishlist.png");
  background-position: center;
  background-size: 100%;
  margin: 5px;
}
.image-tile {
  background-position: center top;
  background-size: 100%;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 5px;
}

.bottom-text {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
}

.bottom-text-name {
  width: 100%;
  height: 40%;
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 5px;
}

.bottom-text-price {
  width: 100%;
  height: 60%;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: justify;
  padding-left: 5px;
  padding-top: 2px;
}

/* Item detail page */
/* ........ */

.main-container-3 {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/image-model-dress-4.jpeg");
  background-repeat: no-repeat;
  background-size: 110%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.container3-1 {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}

.container3-1-1 {
  width: 30px;
  height: 30px;
  background-image: url("./images/back-button.png");
  background-position: center;
  background-size: 100%;
  margin-left: 10px;
}
.container3-1-2 {
  width: 30px;
  height: 30px;
  background-image: url("./images/wishlist.png");
  background-position: center;
  background-size: 100%;
  margin-left: auto;
  margin-right: 10px;
}

.container3-2 {
  height: 50vh;
  width: 100%;
  background-color: var(--color-2);
  margin: 0 auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container3-2-1 {
  height: 15%;
  width: 100%;
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
}
.dress-detail-name {
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
}
.container3-2-1-1 {
  width: 30%;
  height: 100%;
}
.container3-2-1-2 {
  width: 30%;
  height: 100%;
}
.dress-detail-price {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.container3-2-2 {
  width: 90%;
  max-height: 30%;
  font-size: 0.9rem;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  color: rgb(45, 3, 51);
}
.color-name {
  font-size: 1rem;
  font-weight: 900;
  text-align: justify;
  padding: 5px;
}
.container3-2-4 {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.colors {
  width: 25px;
  height: 25px;
  border-radius: 14px;
}
.container3-2-4-1 {
  background-color: red;
}
.container3-2-4-2 {
  background-color: black;
}
.container3-2-4-3 {
  background-color: yellowgreen;
}
.container3-2-4-4 {
  background-color: blue;
}

.container3-2-6 {
  height: 10%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.container3-2-7 {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
}
.container3-2-7-1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#cart-btn {
  border: none;
  background-color: var(--color-4);
  width: 95%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#buy-btn {
    border: none;
    background-color: var(--color-4);
    width: 95%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
